html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden; /* Remove scrollbar */
}

body {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Courier New', 'Consolas', 'Liberation Mono', monospace;
}
